@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,114,200..1000;1,6..12,114,200..1000&family=Rancho&display=swap');




/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap'); */

*{
     margin: 0;
     padding: 0;
}
html{
     scroll-behavior: smooth;
 }
 
 /* Scrollbar width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: #e0e0e0; /* light gray */
  }
  
  /* Thumb (scroll handle) */
  ::-webkit-scrollbar-thumb {
    background: #555; /* dark charcoal */
    border-radius: 10px;
  }
  

 .sidebar::-webkit-scrollbar{
    width:0;
} 



/* @font-face {
    font-family: "jost";
    src: url("./font/Jost-SemiBold-BF63dc52d0c0560.ttf") format("woff2"),
         url("./font/Jost-Black-BF63dc52ccbba90.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
  } */

  @font-face {
    font-family: "rancho";
    src: url("./font/Rancho-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  /* .bg-image-behind {
    background: 
      linear-gradient(to bottom, black, transparent, black), 
      url('././assets/trip3.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    z-index: -10;
    opacity: 0.1;
  } */
  
  